<% if(mountarr.length>0) { %>
    <% for(let item of mountarr) { %>
    <div class="card bg-dark text-white">
        <img src="<%=item.img_url%>" class="card-img" alt="item">
        <div class="card-img-overlay">
            <h5 class="card-title"><%=item.item_name%></h5>
            <p class="card-text"><%=item.unit_price%></p>
            <p class="card-text"><a href="/mountain/<%=item.item_id%>">Buy now </a></p>
        </div>
    </div>
    <% } %>
    <% } else { %>
    <div>cant find any location with this name</div>
    <% } %>