<% let navarr = [{title:"home", url:"/"}, {title:"קורקינט חשמלי",
url:"/electric"}, {title:"אופני הרים", url:"/mountain"},{title:"אופני ילדים",
url:"/child"}] %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"
    ><i class="fas fa-store" style="font-size: 35px"></i></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" <% if(loginname) { %>
          href="/shoppingCart/getCart" <% } else { %> href="/auth/login" <% }
          %>><i class="fas fa-shopping-cart" style="font-size: 35px"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-user-cog" style="font-size: 35px"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/auth/login">Login</a>
          <a class="dropdown-item" href="/auth/signin">Register</a>
          <a class="dropdown-item" href="/auth/logout">Logout</a>
          <div class="dropdown-divider"></div>
          <label for="darkMode">Dark Mode</label>
          <input type="checkbox" name="darkMode" id="darkMode" />
        </div>
      </li>
      <% for(let item of navarr){ %>
      <li class="nav-item <%=cpage==item.url?'active':''%>">
        <a class="nav-link" href="<%=item.url%>"><%=item.title%></a>
      </li>
      <% } %>
      <li  class="nav-link" id="sortBtn" href="/">SORT</li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" action="<%= cpage %>">
      <input
        id="itemSearchInp"
        class="form-control mr-sm-2"
        type="search"
        name="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
