<% let navarr = [{title:"home", url:"/"}, {title:"קורקינט חשמלי",
url:"/electric"}, {title:"אופני הרים", url:"/mountain"},{title:"אופני ילדים",
url:"/child"}] %>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <a class="navbar-brand" href="/"
    ><i class="fas fa-store" style="font-size: 35px"></i></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="navbar_list">
      <li class="nav-item">
        <a class="nav-link" <% if(loginname) { %>
          href="/shoppingCart/getCart" <% } else { %> href="/auth/login" <% }
          %>><i class="fas fa-shopping-cart" style="font-size: 35px"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-user-cog" style="font-size: 35px"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/auth/login">Login</a>
        <a class="dropdown-item" href="/auth/signin">Register</a>
        <a class="dropdown-item" href="/auth/update">Update</a>
        <a class="dropdown-item" href="/auth/logout">Logout</a>
          <div class="dropdown-divider"></div>
         
        </div>
      </li>
          <%if(isAdmin && isAdmin == 1) {%>
          <li>
          <li class="nav-item <%=cpage=='/admin'?'active':''%>">
            <a class="nav-link" href="/admin">ADMIN</a>
          </li>
          </li>
          <%}%>
      <% for(let item of navarr){ %>
      <li class="nav-item <%=cpage==item.url?'active':''%>">
        <a class="nav-link" href="<%=item.url%>"><%=item.title%></a>
      </li>
      <% } %>
      <li  class="nav-link" id="sortBtn"><i class="sort icon"></i></li>
          <li>
            <div class="ui large buttons">
              <button id="dark_mode_btn" class="ui grey button"><i class="moon icon"></i></button>
              <div class="or"></div>
              <button id="bright_mode_btn" class="ui yellow button"><i class="sun icon"></i></button>
            </div>
          </li>
    </ul>
        <div class="ui search">
          <div class="ui icon input">
            <input id="itemSearchInp" class="prompt" type="search" name="search" placeholder="Search..." aria-label="Search" />
            <i class="search icon"></i>
          </div>
        
        </div>
  </div>
</nav>
