html {
  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --color-headings: #0077ff;
  --color-text: #333333;
}

html[mode-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #3694ff;
  --color-text: #b5b5b5;
}

body {
  color: var(--color-text);
  background-color: var(--bg);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav-item {
  padding-left: 2rem;
}

.nav-link {
  color: rgb(90, 90, 255) !important;
}

.active a {
  color: blue !important;
  font-weight: 700;
}

.nav-item a:hover {
  color: rgb(35, 26, 153) !important;
  border-bottom: 1px solid rgb(35, 26, 153);
}

.rtl {
  direction: rtl !important;
  text-align: right !important;
}
.container {
  color: var(--color-headings);
  background-color: var(--bg);
}
.container-fluid {
  color: var(--color-headings);
  background-color: var(--bg);
}
.card-img-top {
  height: 50%;
}
.card-body {
  height: 50%;
  color: var(--color-text);
  background-color: var(--bg-panel);
  /* display: grid;
  justify-content: space-around; */
}
.card-body h5 {
  font-size: 2em;
}
.card-body p {
  font-size: 1.5em;
}
.text-muted {
  color: var(--color-text);
}
.card {
  margin: 3%;
}
.mainPage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  background-color: var(--bg);
  color: var(--color-headings);
}
.main1 {
  max-width: 40vw;
}
.main {
  height: 100vh;
  width: 100vw;
}
.form_container {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10%;
  align-items: center;
  background-color: var(--bg-panel);
}
.auth_form {
  position: relative;
  top: 15%;
  left: 25%;
}
.auth_form input {
  background-color: yellow;
  margin: 10px auto;
  text-align: center;
  border: 3px solid #3498db;
  padding: 13px 5px;
  width: 12vw;
  border-radius: 24px;
  transition: 0.25s;
}
.auth_form input:focus {
  width: 15vw;
  border: 3px;
}
#loginBtn {
  position: relative;
  left: 25%;
}
.formRows {
  color: var(--color-text);
  text-align: left;
  width: 13vw;
}
.errors {
  position: absolute;
  top: 84%;
  left: 35%;
}
#autoCompList {
  position: absolute;
  top: 10%;
  right: 10%;
}
.pageButtons {
  display: flex;
  justify-content: space-between;
}
.autoCompList {
  z-index: 1;
}
#sortBtn {
  cursor: pointer;
}
#helloUser {
  font-size: 1.5rem;
  color: var(--color-headings);
  position: absolute;
  top: 15%;
  right: 10%;
}
.last_location {
  height: 60vh;
  width: 30vw;
  position: absolute;
  top: 65vh;
  left: 60vw;
  animation-name: lastLocation;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes lastLocation {
  0% {
    left: 60vw;
    top: 65vh;
  }
  2% {
    left: 60vw;
    top: 60vh;
  }
  4% {
    left: 60vw;
    top: 65vh;
  }
  6% {
    left: 60vw;
    top: 60vh;
  }
  8% {
    left: 60vw;
    top: 65vh;
  }
  100% {
    left: 60vw;
    top: 65vh;
  }
}
.last_location img {
  height: 10vh;
  width: 15vw;
  position: absolute;
  top: 30%;
  right: 5%;
}
/* .last_location .hebrew{
  margin-left: 5%;
} */
.hebrew {
  direction: rtl;
  position: absolute;
  top: 5%;
  right: 5%;
}
